<div class="all">
    <app-header (registrationPage)="onRegistrationPage($event)" (loginPage)="onLoginPage($event)"></app-header>
    <div *ngIf="register">
        <div class="custom_manu">
            <button (click)="homePage()">Home</button>
        </div>
        <app-registration></app-registration>
        <hr>
    </div>

    <div *ngIf="login">
        <div class="custom_manu">
            <button (click)="homePage()">Home</button>
        </div><hr>
        <app-login></app-login>
        <hr>
    </div>
    <!-- HOME -->
    <div *ngIf="home">
        <app-hero-section></app-hero-section>
        <app-advertisement-section></app-advertisement-section>
        <app-event-category></app-event-category>
        <app-first-event-cat (detailEventPage)="onDetailEventPage($event)"></app-first-event-cat>
        <app-blog-section></app-blog-section>
        <app-browse-category></app-browse-category>
        <app-home-ad-section></app-home-ad-section>
        <app-family-section></app-family-section>
        <app-download-app></app-download-app>
    </div>

    <!-- Event Details Page -->
    <div *ngIf="eventDetail">
        <div class="custom_manu">
            <button (click)="homePage()">Home</button>
        </div>
        <hr>
        <app-qidz-event-details></app-qidz-event-details>
    </div>

    <app-footer></app-footer>
</div>